- var portraitCSS  = []
- portraitCSS.push('submit-work')
- portraitCSS.push('about-project')
- portraitCSS.push('designs')
- portraitCSS.push('estimate')
- portraitCSS.push('features')
- portraitCSS.push('success')
- portraitCSS.push('users')
- portraitCSS.push('submit-work-aside')

- var landscapeCSS = ['features', 'success']
- var desktopCSS   = ['features', 'submit-work', 'submit-work-aside']

= "\n"
// build:css example.css
= "\n"
link(href="styles/main.css", rel="stylesheet")
= "\n"
// endbuild
= "\n"

// build:css lib.css
= "\n"
link(href="bower_components/appirio-tech-ng-ui-components/dist/main.css", rel="stylesheet")
= "\n"
// endbuild
= "\n"

= "\n"
// build:css main.css
= "\n"
each path in portraitCSS
  link(href="styles/#{path}.css", rel="stylesheet")
  = "\n"
// endbuild
= "\n"

// build:css landscape.css media="(min-width: 568px)"
= "\n"
each path in landscapeCSS
  link(href="styles/#{path}.landscape.css", rel="stylesheet", media="(min-width: 568px)")
  = "\n"
// endbuild
= "\n"

// build:css desktop.css media="(min-width: 767px)"
= "\n"
each path in desktopCSS
  link(href="styles/#{path}.desktop.css", rel="stylesheet", media="(min-width: 767px)")
  = "\n"
// endbuild
= "\n"
