doctype html
html(ng-app='example')
  head
    = "\n"
    // removeIf(production)
    = "\n"

    script(type="text/javascript", src="/scripts/json-fixtures.js")

    script(type="text/javascript", src="/bower_components/sinon/index.js")

    script(type="text/javascript", src="/bower_components/auto-config-fake-server/dist/auto-config-fake-server.js")

    script(type="text/javascript", src="/scripts/mock.js")

    = "\n"
    // endRemoveIf(production)
    = "\n"

    title Submit Work

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    include css-files

    script(src="//use.typekit.net/jjo6pal.js")

    script.
      try{Typekit.load({ async: true });}catch(e){}

  body
    ui-view

    include js-files
