- var scripts     = []
- var examples    = ['constants', 'example.module', 'example-templates', 'routes']
- var bowers      = []
- var directives  = []
- var controllers = []
- var services    = []

- scripts.push('submit-work.module')
- scripts.push('estimate.filter')
- scripts.push('templates')

- directives.push('submit-work')
- directives.push('submit-work-aside')
- directives.push('name')
- directives.push('type')
- directives.push('brief')
- directives.push('competitors')
- directives.push('users')
- directives.push('features')
- directives.push('designs')
- directives.push('estimate')
- directives.push('scroll-state')

- controllers.push('submit-work')
- controllers.push('name')
- controllers.push('type')
- controllers.push('brief')
- controllers.push('competitors')
- controllers.push('users')
- controllers.push('features')
- controllers.push('designs')
- controllers.push('estimate')

- services.push('work-api')
- services.push('submit-work')
- services.push('features')
- services.push('nav')

each directive in directives
  - scripts.push('/directives/' + directive + '.directive')
end

each controller in controllers
  - scripts.push('/controllers/' + controller + '.controller')
end

each service in services
  - scripts.push('/services/' + service + '.service')
end

- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-file-upload/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
