- var scripts     = []
- var examples    = ['constants', 'example.module', 'example-templates', 'routes']
- var bowers      = []
- var directives  = []
- var controllers = []
- var services    = []

- scripts.push('submit-work.module')
- scripts.push('templates')

- directives.push('submit-work')
- directives.push('type')

- controllers.push('submit-work')
- controllers.push('type')


each directive in directives
  - scripts.push('directives/' + directive + '.directive')
end

each controller in controllers
  - scripts.push('controllers/' + controller + '.controller')
end

each service in services
  - scripts.push('services/' + service + '.service')
end

- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-file-upload/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
