- var scripts     = []
- var examples    = ['constants', 'example.module', 'routes', 'type-example.controller', 'feature-list.example']
- var bowers      = []
- var directives  = []
- var controllers = []
- var services    = []

- scripts.push('submit-work.module')
- scripts.push('templates')

- services.push('submit-work')
- services.push('requirement')
- services.push('submit-work-uploader')

- directives.push('type')
- directives.push('features')
- directives.push('visuals')
- directives.push('development')
- directives.push('complete')
- directives.push('feature-list')

- controllers.push('type')
- controllers.push('visual')
- controllers.push('features')
- controllers.push('development')
- controllers.push('complete')
- controllers.push('feature-list')

each directive in directives
  - scripts.push('directives/' + directive + '.directive')
end

each controller in controllers
  - scripts.push('controllers/' + controller + '.controller')
end

each service in services
  - scripts.push('services/' + service + '.service')
end

- bowers.push('moment/moment')
- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('react/react')
- bowers.push('react/react-dom')
- bowers.push('react-input-autosize/dist/react-input-autosize')
- bowers.push('react-select/dist/react-select')
- bowers.push('ngReact/ngReact')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-work-layout/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-auth/dist/main')
- bowers.push('appirio-tech-ng-file-upload/dist/main')
- bowers.push('appirio-tech-ng-submissions/dist/main')
- bowers.push('appirio-tech-ng-optimist/dist/main')
- bowers.push('a0-angular-storage/dist/angular-storage')
- bowers.push('angular-jwt/dist/angular-jwt')
- bowers.push('auth0.js/build/auth0')
- bowers.push('auth0-angular/build/auth0-angular')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
