ul#example-nav
  li
    a(ui-sref="submit-work") submit-work

  li
    a(ui-sref="submit-work-type-no-update") submit-work-type (no update permission)

  li
    a(ui-sref="submit-work-features") submit-work-features

  li
    a(ui-sref="submit-work-features-no-update") submit-work-features (no update permission)

  li
    a(ui-sref="submit-work-visuals") submit-work-visuals

  li
    a(ui-sref="submit-work-visuals-no-update") submit-work-visuals (no update permission)

  li
    a(ui-sref="submit-work-development") submit-work-development

  li
    a(ui-sref="submit-work-development-no-update") submit-work-development (no update permission)

  li
    a(ui-sref="submit-work-complete") submit-work-complete

  li
    a(ui-sref="feature-list") feature-list