@import "work-includes";

submit-work-brief {
  width: 100%;

  > form {
    width: 350px;
  }
}

submit-work-brief {
  button.yes, button.no {
    width: 100px;
    margin: 30px 10px;
  }

  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;

    ap-uploader {
      button {
        margin: 5px;
      }
    }


    .character-count {
      text-align: right;
    }
  }
}

submit-work-competitors {
  fieldset {
    overflow: hidden;
  }

  input {
    width: 280px;
  }

  .add-competitor {
    position: absolute;
    width           : 15px;
    background-color: #fff;
    color           : #000;
    margin-top      : 0;
  }

  h6 {
    margin-top: 18px;
  }

  .added-competitors {
    li {
      margin: 10px auto;
      overflow:  hidden;
      width: 280px;

      .competitor {
        line-height: 40px;
        float: left;
        margin-left: 10px;
      }

      .remove-competitor {
        margin-top: 0;
        float: right;
        width: 15px;
        background-color: #fff;
        color: #000;
      }
    }
  }

  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
  }
}

submit-work-name {
  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
  }
}

submit-work-type {
  .project-types {
    li {
      display       : inline-block;
      vertical-align: top;
      width         : 140px;
      margin        : 10px;

      .price {
        margin-top      : 10px;
      }

      button {
        height          : 100px;
        margin-top      : 10px;
        background-color: #b3bbbf;

        @include font-line(14px);

        &.selected {
          background-color: #38B449;
        }
      }

      .description {
        text-align: left;
        padding: 4px;
      }
    }
  }
}
