@import "work-includes";

submit-work-complete {
  main {
    > * {
      margin-top: $margin-small;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      font-size: 16px;
      max-width: 400px;
    }

    .app-name {
      color: $primary-color;
    }

    .icon-house {
      background-color: $primary-color;
      padding         : $padding;
      border-radius   : 50%;
    }
  }
}
