@import "work/work-includes";

submit-work-development {
  display: block;
  text-align: center;

  .security img {
    height: 80px;
  }

  input[type="number"] {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 400px;
  }

  .security {
    > ul {
      margin-top: 30px;
    }

    label {
      display    : block;
      margin-top : 15px;
      font-weight: normal;
      font-size  : 15px;
    }
  }

  .third-party-integrations {
    > p {
      margin-top: 15px;
    }
  }

  .define-development {
    .nav {
      @include vertical-align-middle;

      text-align    : center;
      width         : 100%;
      padding       : 32px;
      text-transform: uppercase;

      > li {
        margin: 0 15px;
      }
    }

    button {
      &.active {
        color: $grey-darkest;
      }
    }

    > main {
      width     : 100%;
      border-top: 1px solid $grey;

      h6 {
        margin-top: 15px;
      }
    }
  }
}
