@import "work-includes";

submit-work-development {
  display: block;
  text-align: center;

  .img {
    display         : inline-block;
    background-color: pink;
    width           : 180px;
    height          : 200px;
    margin-top      : $margin-small;
  }
}