@import "work-includes";

submit-work .state.estimate {
  h3 {
    @include font-line(36px);
  }

  p {
    margin-top: 12px;
  }

  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
  }

  .terms-link {
    text-decoration: underline;
  }

  .terms {
    padding         : 0 $spacing $spacing $spacing-big;
    width           : 320px;
    background-color: white;

    p {
      text-align: left;
    }
  }
}
