@import "work-includes";

submit-work-features {
  display: block;
  text-align: center;

  h2 {
    margin: $margin-big;
  }

  .interactive-section {
    background-color: $neutral-color-lightest;
    padding: $padding-big;

    .uploaderWrapper {
      .failed {
        color: $danger-color
      }
      margin-top: $margin-small;
      .uploader {
        margin: $margin-smallest;
        button {
          margin: $margin-smallest;
        }
      }
    }
  }

  ul.additional {
    @include flex-center(space-around, $padding-big);
    @include align-items(flex-start);

    padding-right: 0;
    padding-bottom: 0;

    section {
      padding: $padding;
    }

    h3 {
      margin-bottom: $margin;
    }

    li {
      max-width: 400px;
    }

    section {
      background-color: $white;
    }

    .files {
      .icon {
        display: inline-block;
      }

      p {
        margin-top: $margin-big;
      }
    }
  }

  .define-feature {
    button {
      margin-top: $margin-small;
    }
  }

  button.save-features {
    margin-top: $margin;
  }
}