@import "work-includes";

$card-max-width: 180px;

submit-work-features {
  display: block;
  text-align: center;

  h2 {
    margin-top: $margin-big;
  }

  .interactive-section {
    background-color: $neutral-color-lightest;
    padding: $padding-big;
    margin-top: $margin-big;

    .uploaderWrapper {
      margin-top: $margin-small;
      .failed {
        color: $danger-color;
      }
      .uploader {
        margin: $margin-smallest;
        button {
          margin: $margin-smallest;
        }
      }
    }

  ul.features {
    @include flex-center(flex-start, $padding-big);

    padding-right : 0;
    padding-bottom: 0;

    > li {
      @include flex-grow(1);

      > * {
        margin-top: $margin;
      }

      > h3, > p {
        max-width   : $card-max-width;
        margin-right: auto;
        margin-left : auto;
      }

      .img {
        display         : inline-block;
        width           : $card-max-width;
        height          : $card-max-width;
        background-color: pink;
      }

      button {
        width: $card-max-width;
      }
    }
  }

  ul.additional {
    @include flex-center(space-around, $padding-big);
    @include align-items(flex-start);

    padding-right: 0;
    padding-bottom: 0;

    section {
      padding: $padding;
    }

    h3 {
      margin-bottom: $margin;
    }

    li {
      max-width: 400px;
    }

    section {
      background-color: $white;
    }

    .files {
      .icon {
        display: inline-block;
      }

      p {
        margin-top: $margin-big;
      }
    }
  }

  .define-feature {
    button {
      margin-top: $margin-small;
    }
  }

  button.save-features {
    margin-top: $margin;
  }
}
