@import "work-includes";

submit-work-type, submit-work-features, submit-work-visuals, submit-work-development, submit-work-complete {
  display         : block;
  text-align      : center;
  background-color: $white;

  .uploaderWrapper {
    margin-top: $margin-small;

    .failed {
      color: $danger-color;
    }

    .uploader {
      .fileActions {
        margin-top: $margin-smallest;
      }

      margin: $margin-smallest;

      button {
        margin: $margin-smallest;
      }
    }
  }

  .flush-height, .full-height {
    &.has-loader {
      position: relative;
    }
  }

  a.button.continue, button.continue, > button.action {
    margin: $margin auto;
  }

  .app-name {
    margin-top: 0;
  }

  .navs {
    @include justify-content(space-between);

    width: 400px;
    margin: 0 auto;

    li {
      width: 133.33px;
      text-align: center;


      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    a {
      color: $neutral-color;
      text-transform: uppercase;
    }

    .active {
      a {
        color: $white;
      }
    }
  }

  progress {
    display   : block;
    width     : 400px;
    margin    : 0 auto;
    margin-top: $margin-smallest;
  }

  > header {
    background-color: $black;
    padding: $padding-big;

    a {
      color: $white;
    }

    > * {
      max-width: 400px;
      color: $white;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      height: 100px;
      margin-top: $margin;
    }

    p {
      margin-top: $margin-smallest;
      font-weight: $font-weight-lightest;
    }

    h1 {
      font-weight: $font-weight-bold;
      margin-top: $margin-small;
    }
  }

  ul.or-choices {
    @include flex-wrap(nowrap);

    margin-top: $margin;

    li {
      min-width: 300px;
      max-width: 300px;

      hr {
        margin-bottom: $margin-smallest;
        background-color: $neutral-color;
      }

      &.or {
        margin          : 0 $margin;
        background-color: $neutral-color;
        font-size       : $font-size;
        color           : $white;
        min-width       : 40px;
        max-width       : 40px;
        height          : 40px;
        line-height     : 40px;
        border-radius   : 50%;
      }

      .selected-button {
        margin-top: $margin;
      }
    }
  }

  modal.full {
    @include flex-direction(column);
    @include flex-wrap(nowrap);

    background-color: $white;
  }

  ul.selectable-choices {
    > li {
      margin: 0 $margin;

      button {
        margin-top: $margin-small;
      }

      .icon {
        display: inline-block;
      }

      button {
        margin-left: auto;
        margin-right: auto;
      }

      h4 {
        margin-top: $margin-small;
      }
    }
  }

  .upload-documents, .enter-url {
    background-color: $white;

    img {
      height: 100px;
    }

    .close {
      background-color: transparent;
    }

    h2 {
      margin-top: $margin;
    }

    input {
      margin: 0 auto;
      margin-top: $margin;
    }

    p, button {
      margin-top: $margin-small;
    }
  }
}