@import "work-includes";

submit-work-type {
  display   : block;
  position  : relative;
  text-align: center;

  h3 {
    strong {
      font-weight: 600;
    }
  }

  ul.type {
    @include flex-center(center);

    img {
      display: inline-block;
      width  : 250px;
      height : 125px;
    }
  }

  ul.target-platform {
    @include flex-center(flex-start, $margin-small);
    @include align-items(stretch);
    @include flex-wrap(nowrap);

    text-align: left;

    > li {
      @include flex-grow(1);

      > ul {
        @include flex-center();

        border           : 1px solid $neutral-color;
        margin-top       : $margin-smallest;

        li {
          padding: $padding-small;
        }
      }

      &.devices {
        @include flex-grow(2);
      }
    }
  }

  modal .success {
    background-color: #fff;
    width: 400px;
    height: 300px;
  }
}
