@import "work-includes";

#submit-work-aside {
  background-color: $primary-color-lightest;
  min-height      : 1px;
  padding         : 0;

  .fixed-wrapper {
    padding: $spacing;
  }

  .project {
    @include roboto-thin();

    .price {
      margin-top: $spacing;
      @include source-sans();
    }

    border-bottom: 1px solid #A7A9AB;
    padding-bottom: $spacing-smallest;
  }

  nav > ul {
    > li {
      @include roboto();

      margin-top : $spacing-big;

      &.completed {
        .checkmark-house {
          background-color: $color-success;
        }
      }

      label {
        @include flex-center();

        .checkmark-house {
          @include display(flex);
          @include align-items(center);
          @include justify-content(center);

          width: 22px;
          height: 22px;
          background-color: $primary-color-light;
          border-radius: 50%;
        }

        p {
          margin-left: $spacing-small;
        }
      }

      ul {
        li {
          @include source-sans-light();

          margin: $spacing-small 0 0 22px + $spacing-small;
        }
      }
    }
  }
}
