@import "work-includes";

submit-work-type {
  display   : block;
  position  : relative;
  text-align: center;

  ul.type {
    @include flex-center(center);

    img {
      display: inline-block;
      width  : 250px;
      height : 125px;
    }
  }

  modal .success {
    background-color: #fff;
    width: 400px;
    height: 300px;
  }
}