@import "work-includes";

submit-work-type {
  .interactive-section {
    background-color: $neutral-color-lightest;
    padding: $padding-biggest 0;

    input {
      margin: 0 auto;
    }
  }

  header {
    padding: $padding-biggest;

    p {
      margin-top: $margin-small;
    }
  }

  button.create, button.save {
    margin-top: $margin-big;
  }

  ul.type {
    @include flex-center(center);
    @include align-items(flex-start);

    padding-right: 0;
    padding-bottom: 0;

    img {
      display   : inline-block;
      width     : 250px;
      height    : 125px;
      margin-top: $margin;
    }

    button {
      margin-top: $margin;
    }

    > li {
      margin: $margin-big $margin;
      margin-top: 0;

      &:first-child {
        width: 100%;
      }
    }
  }

  ul.target-platform {
    text-align: left;

    h4 {
      border-bottom: 1px solid $neutral-color-light;
      padding-bottom: $padding-small;
    }

    > li {
      margin    : 0 auto;
      margin-top: $margin-small;
      max-width : 700px;

      &:first-child {
        margin-top: 0;
        text-align: center;
      }

      > ul {
        margin-top : $margin-smallest;

        > li {
          display: inline-block;
          margin-right: $margin-big;
          margin-bottom: $margin-small;
        }
      }
    }
  }


  modal {
    background-color: $primary-color;
    color: $white;

    .success {
      h2 {
        margin: 0;
      }

      input {
        margin: 0 auto;
        margin-top: $margin;
      }

      button {
        display   : block;
        margin    : 0 auto;
        margin-top: $margin-small;
      }
    }
  }

  .brief {
    width     : 100%;
    max-width : 700px;
    height    : 200px;
    margin    : 0 auto;
    margin-top: $margin-big;
  }
}
