@import "work-includes";

submit-work-type {
  header {
    padding: $padding-biggest;

    p {
      margin-top: $margin-small;
    }
  }

  .error {
    @include block-center();
  }

  #app-name {
    .error {
      text-align: left;
    }
  }

  .type  {
    .error {
      margin-top: $margin-small;
    }

    > ul {
      padding-right: 0;
      padding-bottom: 0;
      margin-top: $margin;

      .house {
        width           : 433px;
        height          : 195px;
        margin-top      : $margin-small;
        background-color: $neutral-color-light;
        padding         : $padding;

        .active {
          display: none;
        }

        .inactive {
          display: inline-block;
        }

        &.selected {
          background-color: $primary-color;

          .active {
            display: inline-block;
          }

          .inactive {
            display: none;
          }
        }

        img {
          height: 80px;
        }
      }
    }

    button, h4 {
      margin-top: $margin;
    }

    > li {
      margin: 0 $margin;
    }
  }

  ul.target-platforms {
    text-align: left;
    margin-top: $margin;

    label {
      font-weight: $font-weight-light;
    }

    > li {
      margin    : 0 auto;
      margin-top: $margin;
      max-width : 700px;

      &:first-child {
        margin-top: 0;
      }

      > ul {
        margin-top : $margin-smallest;

        > li {
          display: inline-block;
          margin-right: $margin-big;
          margin-bottom: $margin-small;
        }
      }
    }
  }


  modal {
    background-color: $primary-color;
    color: $white;

    .success {
      h2 {
        margin: 0;
      }

      input {
        margin: 0 auto;
        margin-top: $margin;
      }

      button {
        display   : block;
        margin    : 0 auto;
        margin-top: $margin-small;
      }
    }
  }

  .brief {
    width     : 100%;
    max-width : 700px;
    height    : 200px;
    margin    : 0 auto;
    margin-top: $margin;
  }
}
