@import "work-includes";

submit-work .users {
  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;

    .character-count {
      text-align: right;
    }
  }
}
