h2 About your project

h3 Give us a brief explanation or "Elevator Pitch"

form(name="summaryForm")
  label(for="project-elevator-pitch") Give us a brief explanation or "Elevator Pitch"

  textarea#project-elevator-pitch(name="summary", placeholder="My Project", ng-model="vm.work.summary")

  ng-messages(for="(vm.next || vm.work.submitAttempted) && vm.validate()" ng-hide="summaryForm.summary.$pristine && !vm.work.submitAttempted")

    ng-message(when="required") This field is required

    ng-message(when="minlength") Help our designers understand your needs, please enter at least 200 characters.

  next-state(state="vm.nextState", vm="vm")

