header.flex.middle
  img(ng-src="{{ icon }}")

  h6 {{ headerText }}

ul
  li(
    ng-repeat="feature in vm.features"
    ng-if="feature.category == vm.headerText"
    ng-class="{ active: feature.title == vm.activeFeature.title }"
  )
    button.clean(ng-click="vm.activateFeature({feature: feature})")
      .flex
        img(src="/images/icon-check-solid.svg" ng-class="{ invisible: !feature.selected }")

        p {{ feature.title }}