ul.navs
  li.active
    a(ui-sref="submit-work-features") Features

  li
    a(ui-sref="submit-work-visuals") Visual Design

  li
    a(ui-sref="submit-work-development") Development

progress(value="2" max="3")