h2 About your project

h3 Name your project

form(name="nameForm", ng-submit="vm.submit()")
  input(
    name         = "name",
    type         = "text",
    placeholder  = "Ex. My Stock Monitor App",
    required     = true,
    ng-model     = "name",
    ng-minlength = "3",
    ng-pattern   = "/^[0-9a-zA-Z].*$/"
  )

  ul.invalid-messages(ng-show="nameForm.$dirty || nameForm.name.$dirty")
    li(ng-show="nameForm.name.$error.required") This field is required.

    li(ng-show="nameForm.name.$error.minlength") The project name must be at least 3 characters long.

    li(ng-show="nameForm.name.$error.pattern") The project name must start with a letter or a number.

  button.success(type="submit", ng-show="nameForm.$valid") NEXT
