h2 About your project

h3 What existing apps would be similar to your new app?

form(name="competitorForm", ng-submit="vm.submit($event)")
  fieldset
    input#project-competitors(
      type="text",
      placeholder="{{vm.placeholder || 'eTrade Mobile Trading App'}}",
      ng-model="vm.appName",
      ng-enter="vm.add()"
    )

    button.add-competitor(type="button", ng-click="vm.add()") +

  h6(ng-show="vm.work.competitorApps.length > 0") Your List of Similar Apps

  ul.added-competitors
    li(ng-repeat="appName in vm.work.competitorApps")
      .competitor {{appName}}

      button.remove-competitor(type="button", ng-click="vm.work.competitorApps.splice($index, 1)") x

  button.submit(type="submit", ng-show="competitorForm.$valid") NEXT
