modal.full(show="true")
  header.flex.column.middle.center.flex-grow
    .icon-house
      .icon.biggest.checkmark

    h1 <strong>awesome!</strong>

    p Your <span class="app-name">a very very very long app name</span> app - will be reviewed by a Copilot to provide you with a detailed quote.

    button.action.wider submit for quote

  footer.flex
    .estimate
      h3 Estimate

      table
        thead
          tr
            td $50k - $80k

            td 35 man days

        tbody
          tr
            td cost estimate

            td time estimate

    .divider.flex.column.stretch
      .border.flex-grow

    .cost
      h3 Cost breakdown range

      table
        thead
          tr
            td $XX - $XX

            td $XX - $XX

        tbody
          tr
            td design

            td development

      p *Includes any custom features requested

