header
  include nav

  img(src="/images/features-white.svg")

  h1 Feature Requirements

  p Tell us the features that you would like in your app

.flush-height.flex.column(flush-height="lock")
  ul.dark-bg.flex.center.middle.flex-grow.selectable-choices
    li
      img.icon.biggest(ng-if="!vm.featuresDefined" src="/images/define-feature.svg")

      img.icon.biggest(ng-if="vm.featuresDefined" src="/images/define-feature-selected.svg")

      h4 Define features

      p Use our wizard to pick common features or add your own.

      button.action.wide(ng-click="vm.showFeatures()") select

    li
      img.icon.biggest(ng-if="!vm.uploaderHasFiles || vm.uploaderHasErrors || vm.uploaderUploading" src="/images/upload.svg")

      img.icon.biggest(ng-if="vm.uploaderHasFiles && !vm.uploaderHasErrors && !vm.uploaderUploading" src="/images/upload-selected.svg")

      h4 Upload Requirements

      p Upload a brief, requirements, specs, or feature list.

      button.action.wide(ng-click="vm.showUpload()") select

  .continue-buttons
    a.button.wider(ui-sref="submit-work-visuals({ id: vm.workId })") go to design
<<<<<<< HEAD
=======

include submit-work-features-define

include submit-work-features-upload
>>>>>>> parent of 713b6e9... Revert "Merge branch 'DEM-1850' of github.com:appirio-tech/submit-work into DEM-1850"

include submit-work-features-define

include submit-work-features-upload
