modal.full(show="vm.show")
  header.flex.column.middle.center.flex-grow
    .icon-house
      .icon.biggest.checkmark

    h1 <strong>awesome!</strong>

    p Your <span class="app-name">{{vm.appName}}</span> app has been submitted.

    button.action.wider(ui-sref="view-work-multiple") go to dashboard

