h1 Congratulations!

p Your <strong>{{vm.work.name}}</strong> project is now set up.

form
  button(ng-click="vm.showCustomFeatureModal()") + Define a feature

  ul
    li(ng-repeat="feature in vm.defaultFeatures track by $index")
      checkbox(label="{{feature.name}}" ng-model="feature.checked")

      button.clean example

  hr

  ul.additional
    li.files
      h2 Additional Files

      section
        button.clean
          .icon.download.biggest

        p Upload any additional documents that might be useful. E.g. - interaction designs, wireframes, product description, etc.

    li.details
      h2 Anything else you want to share?

      textarea(placeholder="Tell us specific details that you want to share regarding features and functionalities." ng-model="vm.work.featuresDetails")

  button.wide.save-features(type="button" ng-click="vm.submitFeatures()") Save

modal(show="vm.showDefineAFeatureModal")
  form.define-feature(ng-submit="vm.addCustomFeature()")
    input(type="text" placeholder="Feature name..." ng-model="vm.customFeature.name")

    textarea(placeholder="Feature description..." ng-model="vm.customFeature.description")

    button(type="submit") Add Feature

    button(type="button" ng-click="vm.hideCustomFeatureModal()") Cancel