form
  input(type="text" placeholder="Name your project..." required="true")

  hr

  h3 Are you looking for design and development?

  ul
    li
      button(type="button") Design

    li
      button(type="button") Development

  hr

  h3 Can you share a brief overview?

  textarea(placeholder="E.g. I need a mobile HR application with social features to support my growing organization")

  ul
    li
      button(type="submit") Save

    li
      button(type="submit") Create Project