form
  h1 Tell us more about <strong>Visual Style</strong>

  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  ul
    li
      h3 Fonts

      p Choose font styles

      .img

      selected-button

    li
      h3 Colors

      p Choose color styles

      .img

      selected-button

    li
      h3 Icons

      p Choose icon styles

      .img

      selected-button

  h1 Tell us your <strong>font preference</strong>

  ul
    li
      h3 Serif

      p a small line attached to the end of a stroke

      .img

      selected-button

    li
      h3 Sans Serif

      p does not have the small `serifs`

      .img

      selected-button

    li
      h3 Sans Serif

      p does not have the small `serifs`

      .img

      selected-button

    li
      h3 Sans Serif

      p does not have the small `serifs`

      .img

      selected-button

    li
      h3 Sans Serif

      p does not have the small `serifs`

      .img

      selected-button