h2 Your Estimate

h3 {{vm.getEstimate() | estimate}}

form(name="estimateForm")
  p This is our closest estimate for your project based on the information you’ve provided today. When you click "Submit Project," we'll process your info and provide a formal project proposal.

  input#submit-work-accept-terms(name="acceptedTerms", type="checkbox", ng-model="vm.work.acceptedTerms", required=true, checked=false, ng-change="vm.change()")

  label(for="submit-work-accept-terms") Accept 
    a.terms-link(ng-click="vm.showTerms = true") Terms and Conditions

  ul.invalid-messages(ng-show="estimateForm.$dirty || estimateForm.acceptedTerms.$dirty")
    li(ng-show="estimateForm.acceptedTerms.$error.required") You must agree to our Terms and Conditions in order to use our services

.terms.layout-modal(ng-modal="vm.showTerms")
  h3 Terms &amp; Conditions

  p We will rule over all this land, and we will call it...This Land. It was supposed to confuse him, but it just made him peppy. You haven't seen my drawer of inappropriate starches? I would appreciate it if one person on this boat would not assume I'm an evil, lecherous hump. We'll have to call it early quantum state phenomenon. Only way to fit 5000 species of mammal on the same boat.

  p A whole mess of sparrows turning on a dime, salmon trucking upstream. Well we could grind our enemies into talcum powder with a sledgehammer but, gosh, we did that last night. In every generation there is a chosen one. Say Skywalker, and I smack ya. It has nothing to do with me.
