h1 Features

form
  .interactive-section
    ul.features
      li(ng-repeat="feature in vm.defaultFeatures track by $index")
        h3 {{feature.name}}

        .img

        selected-button(ng-model="feature.checked")

    button(ng-click="vm.showCustomFeatureModal()") + Define a feature

  h2 Features &amp; user stories all set!

  ul.additional.interactive-section
    li.files
      h3 Additional Files

      section
        button.clean
          .icon.download.biggest

        p Upload any additional documents that might be useful. E.g. - interaction designs, wireframes, product description, etc.

    li.details
      h3 Anything else you want to share?

      textarea(placeholder="Tell us specific details that you want to share regarding features and functionalities." ng-model="vm.work.featuresDetails")

  button.wide.save-features(type="button" ng-click="vm.submitFeatures()") Save

modal(show="vm.showDefineAFeatureModal")
  form.define-feature(ng-submit="vm.addCustomFeature()")
    input(type="text" placeholder="Feature name..." ng-model="vm.customFeature.name")

    textarea(placeholder="Feature description..." ng-model="vm.customFeature.description")

    button(type="submit") Add Feature

    button(type="button" ng-click="vm.hideCustomFeatureModal()") Cancel