form
  p Select a category to help define your project features and user stories.

  select
    option App Category

    option option 1

    option option 2

    option option 3

  button.clean(ng-click="vm.showCustomFeatureModal()") + Define a feature

  ul
    li(ng-repeat="feature in vm.defaultFeatures track by $index")
      checkbox(label="{{feature.name}}" ng-model="feature.checked")

      button.clean example

  button.clean(ng-click="vm.submitFeatures()") Submit Features

modal(show="vm.showDefineAFeatureModal")
  form(ng-submit="vm.addCustomFeature()")
    input(type="text" placeholder="Feature name..." ng-model="vm.customFeature.name")

    button(type="submit") Add Feature

    button(type="button" ng-click="vm.hideCustomFeatureModal()") Cancel
