h2 Designing Your App

h3.optional (optional)

h3 Upload any files you may have that can help us understand your design preferences.

form(name="designForm")
  fieldset
    ap-uploader(
      config="vm.designsUploaderConfig"
      uploading="vm.designsUploaderUploading"
      has-errors="vm.designsUploaderHasErrors"
    )
  button.submit(type="button" ng-click="vm.submit()" ng-show="vm.uploaderStatus != 'started' ") NEXT
