header
  .house
    .icon.checkmark.biggest

  h1 Development

  p Help us understand the technical requirements of your app.

modal.upload-documents(show="vm.showUploadModal" background-click-close=true)
  .upload
    .icon.upload

    h2 Upload your <strong>Development specs</strong>

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    ap-uploader(
      config="vm.developmentUploaderConfig"
      uploading="vm.developmentUploaderUploading"
      has-errors="vm.developmentUploaderHasErrors"
    )

    button.wider.continue.action kick off project

ul.path-choices
  li
    .icon

    h3 Define development specs

    button.action.wide(type="button" scroll-element="offlineAccess") select

  li
    .icon

    h3 Upload development specs

    button.action.wide(ng-click="vm.showUpload()") select

button.wider.continue(type="button" scroll-element="offlineAccess") finish project creation

