modal.full(show="vm.show")
  main.flex.column.middle.center.flex-grow
    .icon-house
      .icon.biggest.checkmark-white

    h1 Awesome!

    h6 Your <span class="app-name">{{vm.appName}}</span> app has been submitted

    button.action.wider(ui-sref="view-work-multiple" ng-click="vm.show = false") go to dashboard

