h2 Your Users

h3 Who do you want to use your app? How will they interact with it?

form(name="usersForm", ng-submit="vm.submit()")
  textarea(
    name        = "usageDescription",
    placeholder = "My users will be people who want to get automatic stock  prices while they’re working.",
    ng-model    = "usageDescription",
    maxlength   = "300",
    required    =  true
  )

  ul.invalid-messages(ng-show="usersForm.$dirty || usersForm.usageDescription.$dirty")
    li(ng-show="usersForm.usageDescription.$error.required") This field is required.

  button.submit(type="submit", ng-show="usersForm.$valid") NEXT

