feature-list.dark-bg(
  icon="/images/spider.png"
  active-feature ="vm.activeFeature"
  header-text="this is a really really long long long category"
  features="vm.features"
  activate-feature="vm.activate(feature)"
)