layout-header.elevated-bottom(role="banner" work-id="123")

main.layout-main("role"="main" layout-main=true)
  submit-work-features(work-id="123" store="vm.store" permissions="vm.permissions")

layout-footer