h2 Tell us the <strong>color palette</strong> you prefer

ul
  li(ng-repeat="color in vm.visualDesign.colors track by $index")
    h3 {{color.name}}

    p {{color.description}}

    .img

    selected-button(type="button" ng-model="color.selected")
