h2 Tell us your <strong>font preference</strong>

ul
  li
    h3 Serif

    p a small line attached to the end of a stroke

    .img

    selected-button(ng-model="vm.abc")

  li
    h3 Sans Serif

    p does not have the small `serifs`

    .img

    selected-button

  li
    h3 Sans Serif

    p does not have the small `serifs`

    .img

    selected-button

  li
    h3 Sans Serif

    p does not have the small `serifs`

    .img

    selected-button

  li
    h3 Sans Serif

    p does not have the small `serifs`

    .img

    selected-button