modal.slide.enter-url(show="vm.showUrlStylesModal" background-click-close=true)
  main
    img(src=require("./../../images/url-styles.svg"))

    h2 Enter your brand URL

    p Enter the URL where we can see your company’s design style or brand guidelines.

    form(ng-submit="vm.save()" name="urlForm")
      input(type="text" name="addressInput" ng-pattern="vm.urlRegEx" ng-change="vm.checkAddressValidity()" placeholder="http://www.example.com" ng-model="vm.url" required=true ng-disabled="vm.readOnly")

      p.error.transition(ng-class="{show: urlForm.addressInput.$error.pattern }") Please enter a valid address.

      button.action(type="submit") save