h1 Tell us which <strong>icons</strong> you prefer

ul
  li
    h3 Lorem ipsum dolor sit amet

    p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .img

    selected-button

  li
    h3 Lorem ipsum dolor sit amet

    p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .img

    selected-button

  li
    h3 Lorem ipsum dolor sit amet

    p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .img

    selected-button

  li
    h3 Lorem ipsum dolor sit amet

    p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .img

    selected-button

  li
    h3 Lorem ipsum dolor sit amet

    p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .img

    selected-button
