ul.navs.flex.center(ng-if="!vm.isUpsell")
  li(ng-class="{ active: vm.section == 1 }")
    a(ui-sref="submit-work-features({ id: vm.workId })") Features

  li(ng-class="{ active: vm.section == 2 }")
    a(ui-sref="submit-work-visuals({ id: vm.workId })") Visual Design

  li(ng-if="vm.projectType == 'DESIGN_AND_CODE'" ng-class="{ active: vm.section == 3 }")
    a(ui-sref="submit-work-development({ id: vm.workId })") Development

progress(value="{{ vm.section }}" max="{{ vm.numberOfSections }}" ng-if="!vm.isUpsell")