modal.upload-documents(show="vm.showUploadSpecs" background-click-close=true)
  main
    img.upload-icon(src=require("./../../images/upload.svg"))

    h2 Upload documents

    file-uploader(store="vm.store")

    button(ng-click="vm.hideUploadSpecs()") Done